**/__pycache__
**/.ipynb_checkpoints
python/data_gen/**/*.csv
python/data_gen/*.csv
python/data_gen/*.txt
python/data_gen/*.yaml
python/outputs/*.csv
python/encoding/*.csv
python/encoding/**/*.parquet
python/encoding/**/*.orc
python/result/*
python/encoding/idx*

